      <div class="col-md-6 col-md-offset-1">
        <form>
           <mat-form-field class="input-filed-full-width">
              <input matInput placeholder="Product name">
           </mat-form-field>
           <mat-form-field class="input-filed-full-width">
              <textarea matInput placeholder="About the product"></textarea>
           </mat-form-field>
           <mat-form-field class="input-filed-full-width-with-button">
              <input matInput placeholder="Product image">
           </mat-form-field>
           <button mat-flat-button color="primary" class="mat-flat-button-custom pull-right">browse</button>
           <mat-form-field class="input-filed-full-width-with-button">
              <input matInput placeholder="Advertisement media file">
           </mat-form-field>
           <button mat-flat-button color="primary" class="mat-flat-button-custom pull-right">browse</button>
        </form>
     </div>